<div class="layout">
  <mat-toolbar color="primary" class="toolbar">
    <button
      mat-icon-button
      aria-label="Abrir menú"
      (click)="toggleSidenav()"
      class="menu-btn"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span class="title">Liga Balonmano</span>

    <span class="spacer"></span>

    <!-- acciones de la derecha -->
    <button mat-icon-button aria-label="Refrescar" (click)="goHome()">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="container">
    <mat-sidenav
      #sidenav
      class="side"
      [mode]="isHandset() ? 'over' : 'side'"
      [opened]="!isHandset()"
    >
      <app-nav-bar-tree />
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <main class="page">
        <router-outlet />
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
